body {
    background-color: black;
    color: #6e2db7;
  }

#header {
  font-family:gruppo;
  margin: auto;
  width: 80%;
  text-align: center;
}

#header-lang {
  display:inline-block;
  background-color: rgba(240, 248, 255, 0.801);
  padding: 5px 5px 3px 5px;
  border: true;
  border-radius: 5px;
}

#header-text {
  display:inline-block;
  left: 61px;
  top: 20px;
  width: 348px;
  height: 56px;
  text-align: center;
  font-style: normal;
  letter-spacing: 14px;
  line-height: 1;
  text-transform: uppercase;
  font-size: 20px;
}

#header-buttons {
  background-color: rgb(177, 177, 177);
  padding: 40px 40px 40px 40px;
  display:inline-block;
}

#header-buttons a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#header-buttons a:hover {
  background-color: rgb(162, 88, 211);
  color: rgb(20,20,20);
}

#header-dropdown-container {
  display: none;
}

.header-dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-decoration: underline;
}

.header-dropdown-content a {
  color: #b1b1b1;
  padding: 8px 16px;
  font-size:20px;
  text-decoration: none;
  display: block;
}

.header-dropdown-content a:hover {background-color: rgb(162, 88, 211);}

.show {display:block;}

@media only screen and (max-width: 1000px) {
  #header-buttons {
    display:none;
  }

  #header-text {
    color: #b1b1b1;
    font-family: 'Gruppo';
    font-size: 14px;
    font-style: normal;
    letter-spacing: 14px;
    line-height: 1;
    text-transform: none;
  }

  #header{
    width: 95%;
  }

  #header-lang{
    position: absolute;
    top: 10px;
    right: 50px;
  }

  #header-dropdown-container{
    display:inline-block;
    position: absolute;
    top: 10px;
    left: 50px;
  }
}

.main-content {
  margin: auto;
  width: 80%;
  text-align: center;
}

#footer {
  background-color: rgb(58, 58, 58);
  margin: auto;
  margin-top: 30px;
  width: 80%;
}

#footer-text {
  display:inline-block;
  margin: 10px 10px 10px 10px;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 14px;
  line-height: 1;
  font-family: gruppo;
}

#footer-fb {
  display:inline;
  float: right;
  margin: 20px 20px 20px 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  color: #b1b1b1;
  font-family: 'Gruppo';
  font-size: 30px;
  font-style: normal;
  letter-spacing: 14px;
  line-height: 1;
  text-transform: uppercase;
}

h2 {
  color:#6e2db7;
  font-family: 'Gruppo';
  font-size: 24px;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.3;
}

.current-page{
  border-bottom: 4px solid #6e2db7;
  border-top: 2px solid #6e2db7;
}

#enter-button {
  background-color: #6e2db7;
  border-radius: 8px;
  padding: 0px 10px 0px 10px;
  color:azure;
  margin: auto;
  width: fit-content;
  font-style:italic;
  font-family: gruppo;
}

#enter-button:hover {
  background-color: #6d2db76e;
  font-style: normal;
}

#mission-statement {
  font-size: 28px;
  font-family: gruppo;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.3;
  width: 60%;
  margin: auto;
}

#goals-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: gruppo;
  font-size: 28px;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.3;
  width: 70%;
  margin: auto;
}

.goals-sub-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .goals-sub-box{
    flex-direction: column;
  }
}

.goal-square {
  flex-basis: 400px;
}

.fit {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  width: 25%;
  height: width;
}

.testimonial-box {
  color: #b1b1b1;
  font-family: asap;
  font-size: 14px;
  text-align: justify;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.3;
  margin: 10px 80px 10px 80px;
  flex-basis: 45%;
}

.signature {
  color:rgb(102, 110, 122);
  text-align: right;
}

#image-running {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#image-branches {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.add-margin {
  margin: 0px 10px 0px 10px;
}

#events-box {
  color: rgb(19, 21, 24);
  background-color: #b1b1b1;
  font-family: 'Gruppo';
  font-size: 24px;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.3;
  border-radius: 10px;
  border: 3px solid #3d037e;
  text-align: justify;
  padding: 20px 20px 20px 20px;
  }

#contribute-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

#contribute-grid-left{
  grid-column: 1;
  grid-row: 1 / 3;
  background-color: #6e2db7;
  border-radius: 10px;
  color: #cce6e4;
  font-family: 'Gruppo';
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1.3;
}

#contibute-grid-top-mid{
  grid-column: 2;
  grid-row: 1;
}

#contribute-grid-right{
  grid-column: 3;
  grid-row: 1;
  background-color: #6e2db7;
  border-radius: 10px;
  color: #cce6e4;
  font-family: 'Gruppo';
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1.3;
}

#contribute-grid-bottom-right {
  grid-column: 2 / 4;
  grid-row: 2;
}

#contribute-fire {
  width: max-content;
  height: 200px;
}

@media only screen and (max-width: 1000px) {
  #contribute-grid {
    display: flex;
    flex-direction: column;
  }
  #contribute-grid-right {
    margin-top:20px;
  }
}

.moon-box {
  background-color: black;
  border: 4px solid #3d037e;
  border-radius: 10px;
  color: #cce6e4;
  font-family: 'Gruppo';
  font-size: 30px;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.3;
  text-transform: none;
  flex-basis: 45%;
  margin: 10px 10px 10px 10px;
  padding-bottom: 25px;
}

#moon-newsletter {
  background-color:#b1b1b1;
  color:#6e2db7;
  margin:auto;
  width: 40%;
  padding: 5px 10px 10px 10px;
  text-align: justify;
  border-radius: 10px;
}

#moon-newsletter label {
  display:none;
}

#moon-newsletter input {
  display:inline;
  margin-top:2px;
  margin-bottom: 2px;
  margin-left:auto;
  margin-right:auto;
  width: 95%;
}

#moon-newsletter-submit {
  border:none;
  border-radius: 10px;
  margin: 8px 0px 0px 0px !important;
  width: 20% !important;
  background-color: #3d037e;
  color:#b1b1b1;
  font-size: 16px;
  font-family: gruppo;
}

#bird-image {
  height: 80px;
  width: 75%;
  object-fit: cover;
}

.contact-text {
  color:#b1b1b1;
  font-family:asap;
  text-align: justify;
}

.contact-main-column {
  margin-left: 10px;
  margin-right: 10px;
  width: 24%
}

.contact-main-column-image{
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1000px) {
  .contact-main-column {
    width: 100%;
  }
}

#contact-subscribe-container {
  background-color: white;
  color:#000000;
  text-align: justify;
  padding: 0px 10px 10px 10px;
}

.red-star {
  display: inline;
  color: rgb(255, 55, 88);
}

#contact-subscribe-container input {
  margin: 5px 5px 5px 5px;
}

#contact-quotebox {
  background-color: #000000;
  color:#b1b1b1;
  padding: 20px 20px 20px 20px;
  border: 2px solid #3d037e;
  border-radius: 10px;
  font-family: asap;
  font-size: 20px;
}

#contact-form-container label {
  display: none;
}

#contact-form-container {
  background-color:#3d037e;
  color:black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  letter-spacing: 2px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 2px;
}

#contact-form-container input {
  margin: 5px 0px 5px 0px;
}

#contact-message {
  height: 100px;
}

.flexy {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .flexy{
    flex-direction: column;
  }
}

.big-p {
  font-size:48px;
}