body {
    background-color: black;
    color: #6e2db7;
  }

#header {
  font-family:gruppo;
}

#header-lang {
  display:inline-block;
  background-color: rgba(240, 248, 255, 0.801);
  padding: 5px 5px 3px 5px;
  border: true;
  border-radius: 5px;
}

#header-text {
  display:inline-block;
  left: 61px;
  top: 10px;
  width: 348px;
  height: 56px;
  text-align: center;
  font-style: normal;
  letter-spacing: 14px;
  line-height: 1;
  text-transform: uppercase;
}

#header-buttons {
  background-color: rgb(177, 177, 177);
  padding: 40px 40px 40px 40px;
  display:inline-block;
}

#header-buttons a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#header-buttons a:hover {
  background-color: rgb(162, 88, 211);
  color: rgb(20,20,20);
}

.main-content {
  margin: auto;
  width: 80%;
  text-align: center;
}

#footer {
  background-color: rgb(58, 58, 58);
  margin: auto;
  width: 80%;
}

#footer-text {
  display:inline-block;
  margin: 10px 10px 10px 10px;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 14px;
  line-height: 1;
}

#footer-fb {
  display:inline;
  float: right;
  margin: 20px 20px 20px 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}